<header>
	<h1>Admin</h1>
</header>

<div class="alert alert-danger" ng-show="errordata">{{ errordata }}</div>
<div class="alert alert-success" ng-show="okdata">{{ okdata }}</div>

<!-- form for document with class="post" -->
<form>
	<p>
		<label for='class'>Class:</label><br>
		<div class='radio'><label><input type='radio' ng-model='detail.class' value='post'> Post</label></div>
		<div class='radio'><label><input type='radio' ng-model='detail.class' value='photo'> Photo</label></div>
		<div class='radio'><label><input type='radio' ng-model='detail.class' value='route'> Route</label></div>
	</p>

	<p><label for='title'>Title:</label>
	<input class='form-control' type='text' ng-model='detail.title'></p>

	<p><label for='url'>URL:</label>
	<input class='form-control' type='text' ng-model='detail.url'></p>

	<p><label for='body'>Body:</label><br>
	<textarea class='form-control' rows='10' ng-model='detail.body'></textarea></p>

	<p ng-show='detail.class == "route"'>
		<label for='route_upload'>GPX file:</label>
		<input type='file' 	id='route_upload'>
	</p>

	<p><label for='published_at'>Published at:</label>
	<input type='text' class='form-control' ng-model='detail.published_at'></p>

	<p>
		<button type='submit' class='btn btn-default' ng-click='update();'>Update</button>
		<button type='submit' class='btn btn-danger' ng-click='destroy();'>Destroy</button>
	</p>
</form>

<form ng-show="action == 'edit'">
	<hr>
	<p><label>Attachments:</label> 
		<input type='file' id='attachments_upload' multiple><br> 
		<button class='btn btn-primary' type='submit' ng-click='attach("attachments_upload");'>Attach</button>
	</p>
	
	<ul ng-show='detail._attachments' class='list-unstyled'>
		<li ng-repeat='(name, props) in detail._attachments'>
			<button class='btn btn-xs'>
				<span class='glyphicon glyphicon-remove'></span> remove
			</button>
			{{ name }}
		</li>
	</ul>
</form>
